.body {
	margin: 0
	padding: 0;
}


/* QUESTION 1 */

.question-1 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-1 {
	line-height: 200px;
	text-align: center;
	font-size: 0px;
	color: rgb(123, 23, 211);
	transition: all ease 2s;
}

.box-1 {
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	background-color: rgb(231, 231, 231);
	width: 200px;
	height: 200px;	
}

.box-1:hover {
	background-color:  rgb(123, 23, 211);
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.answer-1:hover {
	font-size: 130px;
	color: rgb(231, 231, 231);
	-webkit-transform: rotate(360deg);
}

/* QUESTION 2 */

.question-2 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-2 {
	line-height: 200px;
	text-align: center;
	font-size: 0px;
	color: #A7988B;
	transition: all ease 2s;
	
}

.box-2 {
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	background-color: #F3F32B;
	width: 200px;
	height: 200px;
}

.box-2:hover {
	background-color: #A7988B;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.answer-2:hover {
	font-size: 130px;
	color: #F3F32B;
	-webkit-transform: rotate(-360deg);	
}

.comment-2 {
	font-size: 20px;	
	margin-left: 78px;
	margin-top: 28px;
}

/* QUESTION 3 */

.question-3 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-list {
	list-style: lower-alpha;
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	width: 180px;
	height: 100px;
    font-size: 28px;
    color: #fff;
    position: absolute;
    left: 0;
    background-color: #000000

}

.hidden-answer {
	font-size: 40px;
	position: absolute;
	right: 0;
	margin-top: 54px;
	color: #fff;	
}

.container {
	width: 810px;
	height: 300px;
	position: relative;
}

.answer-list:hover {
	width: 730px;
}

.four {
	margin-top: 40px;
	margin-left: 40px;
	width: 10px;
	height: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	border-left: 5px solid black;
	transition: all ease 2s;
}

.four:hover {
	margin-top: 40px;
	margin-left: 40px;
	width: 200px;
	height: 200px;
	border-top: 25px solid black;
	border-bottom: 25px solid black;
	border-right: 25px solid black;
	border-left: 25px solid black;
}

.circle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: black;
	margin-left: 20px;
	transition: all 1s steps(5, end) .2s ;
}

.circle:hover {
	width: 200px;
	height: 200px;
	border-radius: 0;
	margin-left: 100px;
}

.question-6 {
	font-size: 28px;
}

.game {
	position: relative;
	margin: 0 auto;
}

.finish-line {
	font-size: 20px;
	margin-left: 750px;
}


.smile {
	width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid black;
	transition: all 4s ease;
}

.smile:hover {
    width: 1px;
	height: 1px;
	margin-left: 800px;
	border-radius: 50%;
	background-color: black;
	border: 1px solid white;	
}

.sun {
	width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 0;
	background-color: yellow;
	transition: all 2s ease;
}

.sun:hover {
	width: 200px;
	height: 200px;
	margin-left: 1000px;
	border-radius: 50%;
	border-radius: 50%;
	background-color: yellow;
}

.fun-box {
	position: relative;
	height: 344px;
	width: 800px;
	border: 4px solid black;
	margin-left: 100px;
}

.red {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: red;
	transition: all 2s cubic-bezier(0, 1.1, 0.8, 4);
}

.blue {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: blue;
	transition: all 3s cubic-bezier(1, 0.2, 0.5, 2);
}

.green {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: green;
	transition: all 2s cubic-bezier(0.5, 1.8, 1, 3);
}

.yellow {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: yellow;
	transition: all 4s cubic-bezier(0.1, 1.2, 0.1, 1);
}

.fun-box:hover .red {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: red;
}

.fun-box:hover .blue {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: blue;
}

.fun-box:hover .green {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: green;
}

.fun-box:hover .yellow {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: yellow;
}










	























