.body {
	margin: 0
	padding: 0;
}


/* QUESTION 1 */

.question-1 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-1 {
	line-height: 200px;
	text-align: center;
	font-size: 0px;
	color: rgb(123, 23, 211);
	transition: all ease 2s;
}

.box-1 {
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	background-color: rgb(231, 231, 231);
	width: 200px;
	height: 200px;	
}

.box-1:hover {
	background-color:  rgb(123, 23, 211);
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.answer-1:hover {
	font-size: 130px;
	color: rgb(231, 231, 231);
	-webkit-transform: rotate(360deg);
}

/* QUESTION 2 */

.question-2 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-2 {
	line-height: 200px;
	text-align: center;
	font-size: 0px;
	color: #A7988B;
	transition: all ease 2s;	
}

.box-2 {
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	background-color: #F3F32B;
	width: 200px;
	height: 200px;
}

.box-2:hover {
	background-color: #A7988B;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.answer-2:hover {
	font-size: 130px;
	color: #F3F32B;
	-webkit-transform: rotate(-360deg);	
}

.comment-2 {
	font-size: 20px;	
	margin-left: 78px;
	margin-top: 28px;
}

/* QUESTION 3 */

.question-3 {
	font-size: 28px;
	margin-top: 32px;
}

.answer-list {
	list-style: lower-alpha;
	padding-top: 0px;
	margin-top: 30px;
	margin-left: 100px;
	width: 180px;
	height: 100px;
    font-size: 28px;
    color: #fff;
    position: absolute;
    left: 0;
    background-color: #000000

}

.hidden-answer {
	font-size: 40px;
	position: absolute;
	right: 0;
	margin-top: 54px;
	color: #fff;	
}

.container {
	width: 810px;
	height: 300px;
	position: relative;
}

.answer-list:hover {
	width: 730px;
}

/*QUESTION 4*/
.intro4 {
	font-size: 28px;
}

.four {
	margin-top: 40px;
	margin-left: 40px;
	width: 10px;
	height: 10px;
	border-top: 5px solid black;
	border-bottom: 5px solid black;
	border-right: 5px solid black;
	border-left: 5px solid black;
	transition: all ease 2s;
}

.four:hover {
	margin-top: 40px;
	margin-left: 40px;
	width: 200px;
	height: 200px;
	border-top: 25px solid black;
	border-bottom: 25px solid black;
	border-right: 25px solid black;
	border-left: 25px solid black;
}

/*QUESTION 5*/
.intro5 {
	font-size: 28px;
}

.circle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: black;
	margin-left: 20px;
	margin-top: 40px;
	transition: all 1s steps(5, end) .2s ;
}

/*QUESTION 6*/

.circle:hover {
	width: 200px;
	height: 200px;
	border-radius: 0;
	margin-left: 100px;
}

.question-6 {
	font-size: 28px;
}

.game {
	position: relative;
	margin: 0 auto;
}

.finish-line {
	font-size: 20px;
	margin-left: 750px;
}


.smile {
	width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 50%;
	background-color: white;
	border: 2px solid black;
	transition: all 4s ease;
}

.smile:hover {
    width: 1px;
	height: 1px;
	margin-left: 800px;
	border-radius: 50%;
	background-color: black;
	border: 1px solid white;	
}
/*QUESTION 7*/

.intro7 {
	font-size: 28px;
}

.sun {
	width: 200px;
	height: 200px;
	margin-left: 100px;
	border-radius: 0;
	background-color: yellow;
	transition: all 2s ease;
}

.sun:hover {
	width: 200px;
	height: 200px;
	margin-left: 1000px;
	border-radius: 50%;
	border-radius: 50%;
	background-color: yellow;
}

/*QUESTION 8*/

.intro8 {
	font-size: 28px;
}

.fun-box {
	position: relative;
	height: 344px;
	width: 800px;
	margin-left: 100px;
}

.red {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: red;
	transition: all 2s cubic-bezier(0, 1.1, 0.8, 4);
}

.blue {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: blue;
	transition: all 3s cubic-bezier(1, 0.2, 0.5, 2);
}

.green {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: green;
	transition: all 2s cubic-bezier(0.5, 1.8, 1, 3);
}

.yellow {
	margin-left: 340px;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	background-color: yellow;
	transition: all 4s cubic-bezier(0.1, 1.2, 0.1, 1);
}

.fun-box:hover .red {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: red;
}

.fun-box:hover .blue {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: blue;
}

.fun-box:hover .green {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: green;
}

.fun-box:hover .yellow {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: 5px;
	margin-left: 720px;
	background-color: yellow;
}

/*QUESTION 9*/

.intro9	{
	font-size: 28px;
}

.transform {
	margin-top: 40px;
	height: 180px;
	width: 180px;
	background-color: red;
	margin-left: 60px;
}

.transform:hover {
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	transition: ease 1s;
}

/*QUESTION 10*/

.intro10 {
	font-size: 28px;
}

.cannon {
	margin-top: 60px;
	width: 800px;
	height: 50px;
	background-color: yellow;
}
.ball {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	background-color: black;
	margin-top: -46px;
}
.ball:hover {
	margin-left: 755px;
	transition: ease 2s;
}
/*QUESTION 11*/
.intro11 {
	font-size: 28px;
}
.button {
	margin-top: 40px;
	margin-left: 40px;
	width: 200px;
	height: 50px;
	background-color: #636362;
	border-radius: 20px;
	box-shadow: 2px 2px 3px black;
}
.button:hover {
	width: 400px;
}

.hidden-box:hover {
	height: 50px;
	width: 100px;
	background-color: f2f0ec;
}
/*QUESTION 12*/
.intro12 {
	font-size: 28px;
}
.thebox {
	width: 580px;
	height: 600px;
	margin-top: 60px;
	background-color: rgb(99, 199, 222);
}
.dots1, .dots2, .dots3, .dots4, .dots5, .dots6, .dots7, .dots8, .dots9,
.dots10, .dots11, .dots12, .dots13, .dots14, .dots15{
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgb(155, 155, 155);
}
.thebox:hover .dots15 {
	margin-left: 560px;
	transition: ease 1s;
}
.thebox:hover .dots14 {
	margin-left: 520px;
	transition: ease 1s;
}
.thebox:hover .dots13 {
	margin-left: 480px;
	transition: ease 1s;
}
.thebox:hover .dots12 {
	margin-left: 440px;
	transition: ease 1s;
}
.thebox:hover .dots11 {
	margin-left: 400px;
	transition: ease 1s;
}
.thebox:hover .dots10 {
	margin-left: 360px;
	transition: ease 1s;
}
.thebox:hover .dots9 {
	margin-left: 320px;
	transition: ease 1s;
}
.thebox:hover .dots8 {
	margin-left: 300px;
	transition: ease 1s;
}
.thebox:hover .dots7 {
	margin-left: 240px;
	transition: ease 1s;
}
.thebox:hover .dots6 {
	margin-left: 200px;
	transition: ease 1s;
}
.thebox:hover .dots5 {
	margin-left: 160px;
	transition: ease 1s;
}
.thebox:hover .dots4 {
	margin-left: 120px;
	transition: ease 1s;
}
.thebox:hover .dots3 {
	margin-left: 80px;
	transition: ease 1s;
}
.thebox:hover .dots2 {
	margin-left: 40px;
	transition: ease 1s;
}
.thebox:hover .dots1 {
	margin-left: 0px;
	transition: ease 1s;
}







	























